/**
 *
 *
 *
 * DEFAULT
 */

textarea,
input {
  @apply block;
}

select:focus,
textarea:focus,
input:focus,
.input-form-active {
  @apply outline-none;
}

section,
.section {
  @apply px-[var(--px-mobile)] lg:px-[var(--px-desktop)];
}

/**
 *
 *
 *
 * PRIMARY COLOR
 */
.bg-primary,
.hover\:bg-primary:hover {
  background-color: var(--color-primary);
}

.hover\:text-primary:hover,
.text-primary {
  color: var(--color-primary);
}

.border-primary {
  border-color: var(--color-primary);
}

/**
 *
 *
 *
 * BACKGROUND IMAGE 
 */

.bg-image,
.bg-profile {
  background-position: center 0;
  @apply bg-no-repeat bg-cover;
}

.bg-profile {
  @apply rounded-[50%] aspect-square block bg-gray-600/50 h-[1.75rem] text-center;
}

/**
 *
 *
 *
 * INPUT FORM 
 */
.input-group:not(.float-label) {
  @apply md:mt-4;
}

.input-group > label {
  @apply bg-white inline-block capitalize cursor-pointer;
  @apply ml-2 translate-y-[9px] text-xs px-1 font-semibold;
  color: var(--color-label);
}
.input-group:not(.float-label) > label {
  @apply md:ml-0 md:mb-1 md:translate-y-0 md:text-sm;
}

.input-group > textarea,
.input-group > input {
  @apply w-full bg-white;
  @apply px-3 border rounded-md;
  border-color: var(--color-border);
}

.input-group > textarea {
  @apply h-[4rem] py-2 md:py-1;
}

.input-group > input {
  @apply h-[2.5rem];
}

select:focus,
textarea:focus,
input:focus,
.input-form-active {
  @apply outline-none;
}

:not(.input-group-invalid) > select:not(:disabled):focus,
:not(.input-group-invalid) > textarea:not(:disabled):focus,
:not(.input-group-invalid) > input:not(:disabled):focus,
:not(.input-group-invalid) > .input-form-active {
  border-color: var(--color-primary);
}

textarea:disabled,
input:disabled,
.input-form-disabled {
  @apply cursor-default;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.input-group-invalid > textarea,
.input-group-invalid > input {
  @apply border-red-500;
}

.invalid-message {
  @apply text-red-500 text-xs mt-2;
}

/**
 *
 *
 *
 * BUTTON 
 */
.btn-outline,
.btn-square,
.btn {
  @apply inline-flex items-center justify-center;
  @apply h-[2.5rem] cursor-pointer;
  @apply border;
}
.btn {
  @apply px-4 pt-[1px] rounded-lg;
  @apply text-xs capitalize whitespace-nowrap;
  @apply shadow border-transparent text-white;
  background-color: var(--color-primary);
}
.btn-square {
  @apply shadow-sm bg-transparent border-gray-300 aspect-square rounded-full;
  @apply hover:shadow-inner;
  /* @apply hover:bg-slate-50/20; */
}
.btn-square:hover > * {
  @apply drop-shadow-sm scale-95;
  @apply saturate-[3];
}
.btn-outline {
  @apply bg-transparent shadow-none rounded-lg;
  color: inherit;
}

.btn-disabled,
.btn:disabled,
button:disabled {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: transparent !important;
  cursor: not-allowed;
}

/**
 *
 *
 *
 * BTN LOADING 
 */
.btn-loading {
  @apply relative overflow-hidden;
}
.btn-loading::before {
  content: "";
  @apply absolute inset-[0] bg-black/20;
}
.btn-loading::after {
  content: "";
  @apply absolute w-[16px] aspect-square border rounded-full shadow-md;
  border-width: 3px;
  border-color: #fff #fff #fff transparent;
  animation: rotate-360 1.2s linear infinite;
}
@keyframes rotate-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
